<nav class="navbar navbar-expand-lg navbar-light" [ngClass]="{'page-scroll-header': isScrolled}">
  <a class="navbar-brand" [ngx-scroll-to]="'#home'" routerLink="home">
    <img src="/assets/images/nxtlife-logo.svg" width="30" height="30" alt="">
    <span blue>Nxt</span><span green>Life</span>
    <span blue>Technologies</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- contents for left side -->
    </ul>
    <ul class="my-2 my-lg-0 navbar-nav">
      <li class="nav-item active" [ngx-scroll-to]="'#home'">
        <a class="nav-link" routerLink="">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link"  [ngx-scroll-to]="'#products'" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
          <i class="material-icons">arrow_drop_down</i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="sp">Strategic Plan</a>
            <a class="dropdown-item" href="#" routerLink="qa">Quality Assurance & Accreditation</a>          
            <a class="dropdown-item" routerLink="lem">Learning Experience Management</a>
            <a class="dropdown-item">Stakeholders' Experience Management</a>
          <a class="dropdown-item" href="#">Risk Management & Internal Audit</a>
          <a class="dropdown-item" href="#">International University Ranking</a>
        </div>
      </li>
      <li class="nav-item dropdown" >
        <a class="nav-link" [ngx-scroll-to]="'#services'" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
          <i class="material-icons">arrow_drop_down</i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Consultancy</a>
          <a class="dropdown-item">Training</a>
          <a class="dropdown-item" href="#">Software Development</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="'#about'">About us</a>
      </li>

    </ul>
  </div>
</nav>
