.footer{
    height:80px;
    width:100%;
    background:#323232;
    position: relative;
}
.footer div[text]{
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
}