<div id="nxtlifeCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#nxtlifeCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="1"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="2"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="3"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="4"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
      <div class="carousel-item active">

          
              <div nxtLife-slide>
                <h2>NxtLife Technologies</h2>
                <span>""</span>
              </div>
              <div overlay>
              <img class="d-block w-100" src="assets/images/carousel/0.png" alt="First slide"/>
               <img src="assets/images/nxtlife-logo.svg" class="nxtlife-logo1">
            </div>
            </div>



            <div class="carousel-item">

          <div cover>
            <div caption>
              <h3>Strategic Planning</h3>
              <span>"Links Today With Tomorrow"</span>
            </div>
            <div overlay class="image-effect">
              <img class="d-block w-100" src="assets/images/carousel/sp/back.png" alt="First slide">
              <img src="assets/images/carousel/sp/bridge1.png" class="animating bridge1" />
              <img src="assets/images/carousel/sp/bridge2.png" class="animating bridge2" />
              <img src="assets/images/carousel/sp/hand.png" class="animating hand" />
            </div>
          </div>
        </div>
    
    <div class="carousel-item">
        <div caption dark>
          <h2>Stakeholders’ Experience Management</h2>
          <span>"Design & Manage stakeholders' journey"</span>
        </div>
        <div overlay>
        <img class="d-block w-100" src="assets/images/carousel/sem/back.png" alt="First slide">
      </div>
      </div>    

      <div class="carousel-item">
          <div caption>
            <h3>Risk Management & Internal Audit</h3>
            <span>"consectetur adipiscing elit. Etiam posuere urna in suscipit tempor"</span>
          </div>
          <div overlay>
          <img class="d-block w-100" src="assets/images/carousel/rm/back.png" alt="First slide">
        </div>
        </div> 
        
        <div class="carousel-item">
            <div caption green>
              <h3>Quality Assurance & Accreditation</h3>
              <span>"consectetur adipiscing elit. Etiam posuere urna in suscipit tempor"</span>
            </div>
            <div overlay>
            <img class="d-block w-100" src="assets/images/carousel/qa/back.png" alt="First slide">
          </div>
          </div>        

  </div>
  <a class="carousel-control-prev" href="#nxtlifeCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#nxtlifeCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
