<div id="nxtlifeCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#nxtlifeCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="1"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="2"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="3"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="4"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="5"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div nxtLife-slide>
        <h2>NxtLife Technologies</h2>
        <span></span>
      </div>
      <div overlay>
        <img class="d-block w-100" src="assets/images/carousel/0.png" alt="First slide" />
        <img src="assets/images/nxtlife-logo.svg" class="nxtlife-logo1">
      </div>
    </div>


    <div class="carousel-item">
      <div cover>
        <div caption>
          <h3>Strategic Planning</h3>
          <span>"Links Today With Tomorrow"</span>
        </div>
        <div overlay class="image-effect">
          <img class="d-block w-100" src="assets/images/carousel/sp/back.png" alt="First slide">
          <img src="assets/images/carousel/sp/bridge1.png" class="animating bridge1" />
          <img src="assets/images/carousel/sp/bridge2.png" class="animating bridge2" />
          <img src="assets/images/carousel/sp/hand2.png" class="animating hand" />
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div plane>
        <div class="plane-container">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1131.53px"
            height="379.304px" viewBox="0 0 1131.53 379.304" enable-background="new 0 0 1131.53 379.304" xml:space="preserve"
            class="plane">
            <polygon fill="#D8D8D8" points="72.008,0 274.113,140.173 274.113,301.804 390.796,221.102 601.682,367.302 1131.53,0.223  "
            />
            <polygon fill="#C4C4C3" points="1131.53,0.223 274.113,140.173 274.113,301.804 390.796,221.102   " />
          </svg>
        </div>
        <div caption dark>
          <h3>Stakeholders’ Experience Management</h3>
          <span>"Design & Manage stakeholders' journey"</span>
        </div>
        <div overlay>
          <img class="d-block w-100" src="assets/images/carousel/sem/back.png" alt="First slide">
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div caption white>
        <h3 style="color:black">Quality Assurance</h3>
        <span style="color:black">"Students are key customers"</span>
      </div>
      <div overlay>
        <img class="d-block w-100" src="assets/images/carousel/qa/back.jpg" alt="First slide">
      </div>
    </div>

    <div class="carousel-item">
        <div caption green>
          <h3  style="color:black">Learning Experience Management</h3>
          <span  style="color:black">"Unadulterated Holistic View"</span>
        </div>
        <div overlay>
          <img class="d-block w-100" src="assets/images/carousel/lem/back.jpg" alt="First slide">
        </div>
      </div>

      <div class="carousel-item">
          <div caption green>
            <h3>International University Ranking</h3>
            <span>"It matters"</span>
          </div>
          <div overlay>
            <img class="d-block w-100" src="assets/images/carousel/tur/back.jpg" alt="First slide">
          </div>
        </div>

    <div class="carousel-item">
      <div bird>
        <div id="pictureframe">
          <div id="bird">
            <div id="body2"></div>
            <div id="body1"></div>
            <div id="wing-l"></div>
            <div id="wing-r"></div>
          </div>
        </div>
        <div caption>
          <h3>Risk Management & Internal Audit</h3>
          <span>"Make Critical Decision Quicker"</span>
        </div>
        <div overlay>
          <img class="d-block w-100" src="assets/images/carousel/rm/back.png" alt="First slide">
        </div>
      </div>
    </div>


  </div>
  <a class="carousel-control-prev" href="#nxtlifeCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#nxtlifeCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
