<div id="nxtlifeCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#nxtlifeCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="1"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="2"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="3"></li>
    <li data-target="#nxtlifeCarousel" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div cover>
      <div caption>
        <h3>Strategic Planning</h3>
        <span>"Links Today With Tomorrow"</span>
      </div>
      <div overlay>
      <img class="d-block w-100" src="assets/images/carousel/1.png" alt="First slide">
    </div>
  </div>
    </div>
    
    <div class="carousel-item">
        <div caption>
          <h2>Stakeholders’ Experience Management</h2>
          <span>"Design & Manage stakeholders' journey"</span>
        </div>
        <div overlay>
        <img class="d-block w-100" src="assets/images/carousel/2.jpg" alt="First slide">
      </div>
      </div>    

      <div class="carousel-item">
          <div caption>
            <h3>Risk Management & Internal Audit</h3>
            <span>"consectetur adipiscing elit. Etiam posuere urna in suscipit tempor"</span>
          </div>
          <div overlay>
          <img class="d-block w-100" src="assets/images/carousel/3.jpg" alt="First slide">
        </div>
        </div> 
        
        <div class="carousel-item">
            <div caption>
              <h3>Qquality Assurance & Accreditation</h3>
              <span>"consectetur adipiscing elit. Etiam posuere urna in suscipit tempor"</span>
            </div>
            <div overlay>
            <img class="d-block w-100" src="assets/images/carousel/5.jpg" alt="First slide">
          </div>
          </div>        
    <!-- <div class="carousel-item">
        <div overlay>
      <img class="d-block w-100" src="assets/images/carousel/1.jpg" alt="Second slide">
      <div overlay></div>
    </div>
    </div>
    <div class="carousel-item">
        <div overlay>
      <img class="d-block w-100" src="assets/images/carousel/1.jpg" alt="Third slide">
      </div>
    </div>
    <div class="carousel-item">
        <div overlay>
      <img class="d-block w-100" src="assets/images/carousel/1.jpg" alt="Third slide">
      </div>
    </div>
    <div class="carousel-item">
        <div overlay>
      <img class="d-block w-100" src="assets/images/carousel/1.jpg" alt="Third slide">
      </div>
    </div> -->
  </div>
  <a class="carousel-control-prev" href="#nxtlifeCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#nxtlifeCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
