div[overlay]{
    background:white;
}
div[overlay] img{
    /* opacity:0.6; */
}

div[cover]{
    position:relative;
}

.carousel-item div[caption]{
    color:white;
    text-align:center;
    position:absolute;
    bottom:3.5vh;
    z-index:1;
    width:100%;
}
div[green]{
    color: white !important;
}
div[dark]{
    color:black !important;
}

.carousel-item div[caption] h3{
    font-size:3vw;
}
.carousel-item div[caption] span{
    font-size:1.5vw;;
}


/* NxtLife SLides */
.carousel-item div[nxtLife-slide]{
    color:white;
    z-index:1;
    position:absolute;
    width: 100vw;
}
.carousel-item div[nxtLife-slide] h2{
    position: absolute;
    top: 21vw;
    left: 9vw;
    font-size: 3vw;
    animation-name:slideInLeft;
    animation-duration: 1.5s;
}
.carousel-item div[overlay] .nxtlife-logo1{
    position: absolute;
    right: 12vw;
    top: 15vw;
    width: 20vw;
    z-index: 1;
    animation-name: slideInUp;
    animation-duration: 1.5s;
}