
/* Overriding lem css */
.box{
    padding-top:35px;
    border-radius: 0px;
}
.box .content h4{
    color:white;
    margin-bottom:30px;
}
.box .area .point{
    border-left: 2px solid #06ca75;
}
.box .area .point:before {
    border: 2px solid #06ca75;
}
.box .area .point:after {
    background-color: #343b4c;
}

/* end of override */

.main-title{
    background:#343b4c;
   padding:100px 100px 0 100px;
    position: relative;
    /* height:100px; */
}
.main-title h1{
    color:white;
    /* color: #06ca75; */
}
.main-title  p{
    color:white;
}
.main-title img{
    height: 250px;
    display: block;
    margin:auto;
}
/* .main-title .image-overlay{
    background-image: url(http://wphash.com/wp/seoexp/wp-content/uploads/2017/02/slider-1-bg.jpg);
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    opacity: 1;
} */
.objectives{
    padding:20px 10px;
}
.objectives .title{
    text-align: center;
    width:100%;
}
.objectives .title h3{
    color: #343b4b;
}
.objectives .title p{
    color:gray;
}
.objective-flex{
    display: flex;
    justify-content: center;
}
.objective-flex .box{
    width:250px;
    padding:70px 30px 30px 30px;
    position: relative;
    color:white;
    background:#343b4c !important;
    text-align: center;
    margin:50px 10px;
}
.box .icon-block{
    border-radius:50%;
    border:2px solid white;
    width:100px;
    height:100px;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    top:-50px;
    text-align: center;
    font-size: 15px;
    font-size: 45px;
    line-height: 90px;
    background:#343b4c !important;
    
}


.ex-drive{
     background: #343b4c;
    padding:20px;
    position: relative;
}
.ex-drive img{
    height: 25vw;
}
.ex-drive .text{
    top:50%;
    transform:translateY(-50%);
    position: absolute;
}
.ex-drive .text h3{
    color:white;  
}
.ex-drive .text p{
    color:white;
    font-size:1.5vw; 
}

.unhappy{
    padding:50px;
}
.unhappy h3{
    color:#343b4c;
}
.unhappy img{
    width: 100%;
}
.unhappy div[text]{
    position: relative;

    top:50%;
    transform: translateY(-50%);
}
.unhappy ul{
    padding:0px;
    list-style: none;
}
.unhappy ul li{
    background: #343b4c;
    color: white;
    margin:10px;
    padding:5px;
}
.cem{
    background: #343b4c;
    padding:50px;
    text-align: right;
}
.cem h3{
    color:white;
}
.cem .image{
    background-image:url('https://cdn.lynda.com/course/361205/361205-636283009390064213-16x9.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cem ul{
    padding:0px;
    list-style: none;
}

.cem ul li{
    background: white;
    color: #26547c;
    margin:10px;
    padding:5px;
}