

header {
 position: relative;
 height: 300px;
 overflow: hidden;
}

.header__bg {
 position: absolute;
 top: 0;
 bottom: 0;
 right: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-image: linear-gradient(#887af9, #7c6bf8);
 transform: skewY(-6deg);
 transform-origin: top left;
}

h1 {
 margin: 0;
 padding: 100px 0;
 font: 44px "Arial";
 text-align: center;
}

header h1 {
 position: relative;
 color: white;
}
.features h2{
    color:#7c6bf8;
    text-align: center;
}

.features-flex{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.features-flex .flex-box{
    background:#7c6bf8;
    border-radius:25px;
    margin:10px 10px;
    color:white;
}
.flex-box-benefits{
    background-color:#fff!important;
    border-radius:25px;
    margin:10px 10px;
    color:#7c6bf8;
}
.features-flex .point{
    position: relative;
    padding: 15px 20px 10px;
}

.benefits{
    position: relative;
    width:100%;
    background-image:linear-gradient(#7c6bf8,#887af9);
    z-index: -1;
    padding:20px 0;
}
.benefits h2{
    color:white;
    text-align: center;
}
.benefits .features-flex{
    padding:50px 0;
}


.learning-exp{
    padding:50px
}


.learning-exp h3{
    color: #7c6bf8;
    text-align: center;
}

.learning-exp .flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-box .bx{
    padding:20px;
    width:25%;
    text-align: center;
   margin:10px;
}
.flex-box .bx:nth-child(even){
    background:#887af9;
    border-radius: 25px;
    color:white;
}
.flex-box .bx:nth-child(odd){
    background:#7c6bf8;
    color:white;
}


/* 
.background{
    background:#f5f5f5;
    padding:70px;
}
.box{
    border-radius: 25px;
    background:white;
    box-shadow: 0 15px 25px 0 rgba(0,0,0,.1);
}
.box .box-header{
    border-radius: 25px 25px 0 0;
    padding:20px;
    text-align:center;
    background-color: #7d6cf7;
    position: relative;
    color:white;
}
.box .box-header img{
    position: absolute;
    right:50px;
    top:0;
    height: 100%;
}
.box .content{
    padding:25px 50px;
}
.box .area{
    display:flex;
    flex-direction: column;
    border-left: 2px solid #e5e5e5;
}
.box .area .point{
    position: relative;
    padding: 15px 20px 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-left: 2px solid #7d6cf7;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
}
.box .area .point:before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 20px;
    left: -29px;
    border: 2px solid #7d6cf7;
    z-index: 2;
}
.box .area .point:after {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #7d6cf7;
    border-radius: 10px;
    width: 29px;
    height: 2px;
    top: 25px;
    left: -29px;
    z-index: 1;
} */
