<div class="margin-top"></div>
<!-- Section 1 -->
<div class="top" id="description">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
              <!-- <img src="assets/images/girl-boy.png"> -->
              <img [src]='productData.mainImage'>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="text-part">
                <h1>{{ productData.title }}</h1>
                <div class="details">
                  {{ productData.description }}
                  <ul *ngIf="productData.descriptionPoints.points">
                    <li *ngFor="let point of productData.descriptionPoints.points">{{ point }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<!-- end of section 1 -->

<!-- Section 2 -->
<div class="our-solution">

</div>

<div class="blocks" style="display:flex;flex-wrap: nowrap;overflow-x: auto;">
  <div class="box" *ngFor="let feature of productData.features; let i = index" style="flex: 0 0 auto;width:30vw">
    <div class="features-flex" *ngIf="i%2==0" >
      <div class="flex-box">
          <div class="point">
              <h5>{{ feature.title }}</h5>
              <i class="fa" [ngClass]="feature.icon"></i>
              <p>{{ feature.details }}</p>
              <ul *ngFor="let point of feature.subPoints">
                <li>{{ point }}</li>
              </ul>
            </div>
      </div>
  </div>
  <div class="features-flex" *ngIf="i%2!=0" style="flex: 0 0 auto;width:30vw">
    <div class="flex-box" style="flex: 0 0 auto;">
        <div class="point">
            <h5>{{ feature.title }}</h5>
            <i class="fa" [ngClass]="feature.icon"></i>
            <p>{{ feature.details }}</p>
            <ul *ngFor="let point of feature.subPoints">
              <li>{{ point }}</li>
            </ul>
          </div>
    </div>
</div>
  </div>
  <!-- <div (click)="scrollRight()" style="position:absolute;right:0;width:50px; height:50px;background:red;">
    
    </div> -->
</div>

<!-- end of section 2 -->
