<div class="row">
    <div class="parallelex-block">
        <div parallelex-background class="parallel-image3">
          <div parallelex-content>
              <div block-heading>
                  <h2 about class="animation rubberBand">About us</h2>
                  <p>NxtLife Technologies (a UK Based Product Development Company) formed by group of passionate people from London Business School to develop innovative solutions that will assist people to do things right, bring a change and make an impact.</p>
                </div>
            <div class="quote">
                    “Technology can be our best friend, and technology can also be the biggest party pooper of our lives. It interrupts our own story, interrupts our ability to have a thought or a daydream, to imagine something wonderful, because we're too busy bridging the walk from the cafeteria back to the office on the cell phone”                
              <div writer>
                  <b>-Steven Spielberg</b>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>
