<div class="row">
    <div class="parallelex-block">
        <div parallelex-background class="parallel-image3">
          <div parallelex-content>
                <app-block-heading [blockData]="heading" class="about-head"></app-block-heading>
            <div class="quote">
                    “Technology can be our best friend, and technology can also be the biggest party pooper of our lives. It interrupts our own story, interrupts our ability to have a thought or a daydream, to imagine something wonderful, because we're too busy bridging the walk from the cafeteria back to the office on the cell phone”                
              <div writer>
                  <b>-Steven Spielberg</b>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>
