.risk-top{
    background:#333333;
}
.risk-top .left{
    animation:slideInLeft 0.5s;
}
.risk-top .left h1{
    color:white;
}
.risk-top .left p{
    color:#777777;
}
.risk-top .text{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    padding:20px;
}
.risk-top .image{
    height:500px;
    background-size: cover; 
    animation:slideInRight 0.5s;
    /* background:url(); */
}
.risk-top .image img{
    transform: skewx(28deg);
    height:100%;
}


.our-solution{
    background:#f4f4f4;
    padding:25px;

}
.our-solution h3{
    color:#333333;
    text-align: center;
    animation:bounceInDown 0.5s;
}
.our-solution .flex-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-solution .flex-cards .box{
    border-radius: 25px;
    width:300px;
    color:#333333;
    box-shadow: 0 5px 27px #00000047;
    padding: 25px;
    margin:25px;
}
.our-solution .flex-cards .box:nth-child(odd){
    animation:slideInUp 0.5s;
}
.our-solution .flex-cards .box:nth-child(even){
    animation:slideInDown 0.5s;
}


.key-features{
    padding:50px 10px;
    background-size: cover;
    animation:slideInLeft 0.5s;
    background:url(http://supplychainbeyond.com/wp-content/uploads/2017/01/risk-management-in-supply-chain.jpg);
}
.key-features h3{
    color:white;
    text-align: center;
}
.key-features .box{
    background:#333333;
    text-align: center;
    width:400px;
    color:white;
    padding:20px;
    border-radius:10px;
    box-shadow: 0 5px 27px #00000047;
    margin:10px;
}
.key-features .flex-feature{
    display: flex;
}
.key-features .box .icon{
    font-size:50px;
    text-align: center;
}
/* section 4 */
.section-benefits{
    background:#f2f2f2;
    padding:50px 0;
}
.section-benefits h3{
    color:#333333;
    text-align: center;
}
.benefits-block{
    display: flex;
    justify-content: center;
}
.benefits-block .flex-blocks{
    width:300px;
    height:200px;
    margin:10px;
    padding:10px;
    box-shadow: 0 0 22px #00000080;
    text-align: center;
    font-size: 18px;
}
.benefits-block .flex-blocks:nth-child(even){
    background:#333333;
    color:#f2f2f2;
}
.benefits-block .flex-blocks:nth-child(odd){
    background:#f2f2f2;
    color:black;
}
.benefits-block .text{
    position:relative;
    top:50%;
    transform: translateY(-50%);
}
/* end of section 4 */