<app-header></app-header>
<!-- <app-carousel></app-carousel>
<app-strategic-planning></app-strategic-planning> -->
<router-outlet></router-outlet>

<div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div><div>sssss</div>