<div class="container">
  <app-block-heading [blockData]="heading"></app-block-heading>
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="hover-card">
        <div content>
          <img src="assets/images/software-development.png">
          <br>
          <h5>Software Development</h5>
        </div>
        <div hover-area>

        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="hover-card">
        <div content>
          <img src="assets/images/training.png">
          <br>
          <h5>Training</h5>
        </div>
        <div hover-area>

        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="hover-card">
        <div content>
          <img src="assets/images/consultancy.png">
          <br>
          <h5>Consultancy</h5>
        </div>
        <div hover-area>

        </div>
      </div>
    </div>
  </div>
</div>
