@import '../fab-title/fab-title.component.css';
/* Header */
.page-scroll-header{
    transition: 1s;
}
.fab-title{
    opacity: 0;
    transition: 1s;
}
.page-scroll-header .fab-title{
    opacity: 1;
}

.product-title{
    opacity: 1;
    font-size: 3vw;
    position: fixed;
    top: 40px;
    left: 10vw;
    z-index: 999;
    color: #aa884f;
    transition: 1s;
    border-bottom:3px solid white;
}
.page-scroll-header .product-title{
    opacity: 0;
}
/* end of header */
.mt-50{
    margin-top:50px;
}
.top img{
    width:100%;
    display:block;
    margin:auto;
}
.top .text-part{
    position:relative;
    top:50%;
    transform: translateY(-50%);
}
.top h1{
    color:#01ae21;
}
.top .details{
    margin-top:50px;
    color:darkslategray;
}

/* second block */
.blocks .box{
    padding:20px;
    text-align:center;
    position:relative;
    outline: 5px solid white
}
.blocks .text-part{
    position:relative;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.blocks .text-part i{
    font-size:3vw;
    margin-bottom:20px;
}
.blocks .box:nth-child(odd){
    background:#333982;
    color:white;
    animation:slideInDown 0.5s;
}
.blocks .box:nth-child(even){
    background:#f2f2f2;
    animation:slideInUp 0.5s;
}
.blocks .box:nth-child(even) i{
    color:black;
    font-size: 60px;
}
.blocks .box:nth-child(odd) i{
    font-size: 60px;
}
/* end of second block */

/* block 3 */
.block3{
    background:#333982;
    padding:20px 30px;
}
.block3 h3{
    color:white;
    margin-top:25px;
    margin-bottom:50px;
    text-align: center;
}
.block3 .block{
    display:flex;
    margin-bottom:25px;
}
.block3 .block .icon{
    padding: 17px;
    border: 1px solid #01ae21;
    border-radius: 50%;
    height: 60px;
    width: 60px !important;
    text-align: center;
    color: #01ae21;
    font-size: 25px;
    line-height: 10px;
    background:white;
}
.block3 .block .text{
    padding-left:10px;
    color:white;
}
.block3 .image-section{
    height: 230px;
}
.block3 .image-section img{
    height: 100%;
    width: auto;
    display: block;
    margin:auto;
}
/* end of block 3 */




.features-flex .flex-box{
    margin:10px 10px;
}
.flex-box-benefits{
    margin:10px 10px;
}
.features-flex .point{
    position: relative;
    padding: 15px 20px 10px;
}

#description img{
    animation:slideInUp 0.5s;
}
#description .text-part{
    animation:fadeIn 1.5s;
}