<div id="nxtlifeCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      <!-- <div class="carousel-item active">
              <div nxtLife-slide>
                <h2>NxtLife Technologies</h2>
                <span>""</span>
              </div>
              <div overlay>
              <img class="d-block w-100" src="assets/images/carousel/0.png" alt="First slide"/>
               <img src="assets/images/nxtlife-logo.svg" class="nxtlife-logo1">
            </div>
            </div> -->

      <div class="carousel-item active">
        <div bird>
            <div id="pictureframe">
                <div id="bird">
                  <div id="body2"></div>
                  <div id="body1"></div>
                  <div id="wing-l"></div>  
                  <div id="wing-r"></div>  
                </div>
              </div> 
            
          <div caption>
            <h3>Risk Management & Internal Audit</h3>
            <span>"consectetur adipiscing elit. Etiam posuere urna in suscipit tempor"</span>
          </div>
          <div overlay>
          <img class="d-block w-100" src="assets/images/carousel/rm/back.png" alt="First slide">
        </div>
      </div>
        </div>        

  </div>
</div>

  <!-- First block -->
  <app-block-heading [blockData]="heading[0]"></app-block-heading>
  <app-left-image [paraData]="paraData[0]"></app-left-image>
<!-- end of first block -->
  <!-- fluid section/parallelex -->
  <div class="parallelex-block">
    <div parallelex-background class="parallel-image1">
      <div parallelex-content>
        <div class="quote">
                “Strategy is thinking about a choice and choosing to stick with your thinking”                
          <div writer>
                —Henry Mintzberg
        </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end of fluid section -->
    <!-- Second block -->
    <app-block-heading [blockData]="heading[1]"></app-block-heading>
    <app-right-image [paraData]="paraData[1]"></app-right-image>
<!-- end of second block -->

  <!-- Fluid section -->
  <div class="parallelex-block">
    <div parallelex-background class="parallel-image1">
      <div parallelex-content>
        <app-screenshots></app-screenshots>
      </div>
    </div>
  </div>
  <!-- end of fluid section -->

  <!-- Third block -->
  <app-block-heading [blockData]="heading[2]"></app-block-heading>
  <app-dual-list [listData]="listData"></app-dual-list>
  <!-- End of Third block -->