

<div class="container bar">
    <app-block-heading [blockData]="heading"></app-block-heading>
  <div class="row" nxtlife-list>
    <div class="col-lg-6 col-sm-12"  *ngFor="let product of products">
      <div li class="animation fadeInRight">
        <div bullet>
          <i class="fa" [ngClass]="product.icon"></i>
        </div>
        <div text>
          <h5>{{ product.name }}</h5>
          <!-- <p>{{ product.description }}</p> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="parallelex-block">
        <div parallelex-background class="parallel-image2">
          <div parallelex-content>
            <div class="quote">
                "Vision is the art of seeing things invisible" 
              <div writer>
                  <b>- Jonathan Swift</b>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>
