body{
  overflow-x: hidden;
}
/*header*/

@keyframes slideUp{
  from{
      opacity:0;
      transform:translatey(100px);
  }
  to{
      opacity:1;
      transform:translatey(0px);
  }
}
/*end of header*/

/* You can add global styles to this file, and also import other style files */
:root{
    --main-one:#4d6b9d;
    --main-two: #4CAF50;
}
/* bootstrap default */
a:focus{
  box-shadow:none !important;
}
/* end of bootstrap default */

/* preloader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(assets/preloader.gif) center no-repeat #fff;
}
/* end of preloader */
@keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }

  
  .rubberBand {
    animation-name: rubberBand;
  }


  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInRight {
    animation-name: fadeInRight;
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInLeft {
    animation-name: fadeInLeft;
  }

  @keyframes slideInRight {
    from {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInRight {
    -webkit-animation-name: slideInRight;

  }


@keyframes slideInDown {
    from {
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInDown {
    animation-name: slideInDown;
  }
  
  @keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: none;
    }
  }
  
  .bounceInDown {
    animation-name: bounceInDown;
  }

/* ///Animation for images */
@keyframes slideInUp {
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInUp {
    animation-name: slideInUp;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

@keyframes bridge1{
    from{
       left:-500px;
       opacity:1;
    }
    to{
        left:0;
        opacity:1;
    }
}
@keyframes bridge2{
    from{
       right:-500px;
       opacity:1;
    }
    to{
        right:20px;
        opacity:1;
    }
}
@keyframes hand{
    from{
        top:-500px;
        opacity:1;
    }
    to{
        top:10px;
        opacity:1;
    }
}
@keyframes fade{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes slideOutDown {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      transform: translate3d(0, 100%, 0);
    }
  }
  
  .slideOutDown {
    animation-name: slideOutDown;
  }
  
.image-effect .animating{
    position:absolute;
}
.image-effect .bridge1{
    width:43%;
    top:40%;
    animation-name:bridge1 !important;
    animation-duration:0.5s;
    animation-delay:1s;
    opacity:0;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

}

.image-effect .bridge2{
    width:43%;
    top:40%;
    animation-name:bridge2 !important;
    animation-duration:0.5s;
    animation-delay:1s;
    animation-fill-mode: forwards;
    opacity:0;
    animation-timing-function: linear;
}


.image-effect .hand{
    top:10px;
    width: 25%;
    left: 50%;
    transform: translate(-50%);
    animation-name:hand !important;
    animation-duration:0.9s;
    animation-delay:1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-timing-function: linear;
}
div[caption]{
    animation-name: fade;
    opacity:0;
    animation-duration:3s;
    animation-fill-mode: forwards;
    animation-delay:1s;
}



/* SEM plane animation */






 /*Paper Plane: Image*/
 .plane {
  width: 100%;
  height: 60px;
}

/*Paper Plane: Animation*/


.plane-container {
  position: absolute;
  width:100%;
  top:6vw;
  -webkit-animation: paper-plane-scoping 2s alternate infinite;
  -moz-animation: paper-plane-scoping 2s alternate infinite;
  animation: paper-plane-scoping 2s alternate infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
}

.plane {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation: paper-plane-soaring 4s forwards infinite;
  -moz-animation: paper-plane-soaring 4s forwards infinite;
  animation: paper-plane-soaring 4s forwards infinite;
}
@-webkit-keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}


/* end of SEM plane animation */

/* Bird Animation */
div[bird]{
  position: relative;
  top:0;
}


@-webkit-keyframes flap-r {
  0%,10%   { 	border-top-width: 60px; }
  40%,60%  { 	border-top-width: 10px; }
  100%     { 	border-top-width: 60px; }
}

@-webkit-keyframes flap-l {
  0%       { 	border-bottom-width: 0px; }
  40%,60%  { 	border-bottom-width: 40px; }
  100%     { 	border-bottom-width: 0px; }
}

@-webkit-keyframes fly {
  0%   { 	left: 0%; top:100px;-webkit-transform:scale3d(0.5,0.5,1) }
  100% { 	left: 100%; top:100px; -webkit-transform:scale3d(1,1,1) }
}

@-webkit-keyframes bob {
  0%   { 	top: 25px; }
  50%   { 	top: 0px; }
  100% { 	top: 25px; }
}

#pictureframe {
  position:relative;
  top:0;
  width:100px;
  -webkit-animation: fly 3.5s linear;
  animation-fill-mode: forwards;
}

#bird div {
  position:absolute;
}

#bird { 
  position:absolute;
  -webkit-animation: bob 0.7s infinite cubic-bezier(0.7, 0.7, 0.1, 0.4);
 }

#body1,#body2,#wing-l,#wing-r {
  	width: 0px; height: 0px;
    border-color: transparent;
    border-style: solid;
}

#body1 {
	border-width: 15px; 
  border-left-width:25px;
  border-top-width:15px;
  border-right-width: 55px;
  border-top-color: #333;
}

#body2 { 
  left: 50px; bottom: 0px;
	border-width: 10px; 
  border-left-width:5px;
  border-top-width:0px;
  border-right-width: 15px;
  border-bottom-color: #777;
}

#wing-l {
  left: 22px; bottom: 0px; 
	border-width: 60px; 
  border-left-width:20px;
  border-top-width:0px;
  border-right-width: 6px;
  border-bottom-color: #444;
  -webkit-animation: flap-l 0.7s infinite; 
}

#wing-r {
  left: 22px; top:0px;
	border-width: 60px; 
  border-left-width:20px;
  border-bottom-width:0px;
  border-right-width: 6px;
  border-top-color: #777;
  -webkit-animation: flap-r 0.7s infinite; 
}


#caption a {
  position:absolute;
  font-family: courier;
  left:10px; bottom:10px;
  color: #444;
}

div[nxtlife-list] div[li]{
    display:flex;
    margin:30px auto;
}

div[nxtlife-list] div[li] div[bullet]{
    margin-right:10px;
    padding-right:10px; 
}

div[nxtlife-list] div[li] div[bullet] i {
    font-size: 24px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
    border-radius: 100%;
    color: var(--main-one);
    box-shadow: inset 0 0 0 1px #d7d7d7;
    -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
    transition: background-color 400ms, background-color 400ms;
    position: relative;order:3px solid white;
}

div[nxtlife-list] div[li] div[bullet] i:after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    right: -10px;
    border: 4px solid #fff;
    border-radius: 20px;
    background: var(--main-one);
}

div[li]:hover div[bullet] i{
    color: white !important;
    line-height: 57px !important;
    background:var(--main-one) !important;
    border:4px solid white;
    box-shadow: inset 0 0 0 5px rgba(77, 77, 77, 0.808);
    -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}
/* // end of list */



/* /parallelex scroll styles */
.parallelex-block {
  position: relative;
  margin-top:20px;
  width:100%;
}
div[parallelex-background]{
  background-attachment: fixed !important;
  width:100%;
  /* min-height:100px; */
  background-size: contain !important;
}
.parallel-image1{
  background:url(https://abovethelaw.com/wp-content/uploads/iStock_000027197562_Large.jpg);
}
.parallel-image2{
  background:url(https://tatendachawanzwa.com/wp-content/uploads/2015/07/001_demo2.jpg);
}
.parallel-image3{
background:url(https://www.wallpaperhdi.com/wp-content/uploads/2016/06/Material_Design_Wallpaper_Image_Desktop.jpg);
}
div[parallelex-content]{
  /* position: absolute; */
  padding:20px 10px;
  top: 0;
  background: rgba(37, 37, 37, 0.82);
  width: 100%;
  color:white;
  text-align: center;
  padding:50px;
}
div[parallelx2]{
  background-attachment: fixed !important;
  min-height:260px;
  background-size: contain !important;
}

.animate-now{
  animation-delay: 1s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

/* end of parallelx scroll */


/* about */
.about-head h2{
  color:white !important;
}
/* end of about page */

.v-center{
  position: relative;;
  top:50%;
  transform: translateY(-50%);
}