/* You can add global styles to this file, and also import other style files */
:root{
    --main-one:#1f85c3;
    --main-two: #4CAF50;
}

body{
    background:#fff2f2;
}
/* preloader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(assets/preloader.gif) center no-repeat #fff;
}
/* end of preloader */
@keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }

  
  .rubberBand {
    animation-name: rubberBand;
  }


  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInRight {
    animation-name: fadeInRight;
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInLeft {
    animation-name: fadeInLeft;
  }


@keyframes slideInDown {
    from {
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInDown {
    animation-name: slideInDown;
  }
  
  @keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      transform: none;
    }
  }
  
  .bounceInDown {
    animation-name: bounceInDown;
  }

/* ///Animation for images */
@keyframes slideInUp {
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInUp {
    animation-name: slideInUp;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

@keyframes bridge1{
    from{
       left:-500px;
       opacity:1;
    }
    to{
        left:0;
        opacity:1;
    }
}
@keyframes bridge2{
    from{
       right:-500px;
       opacity:1;
    }
    to{
        right:20px;
        opacity:1;
    }
}
@keyframes hand{
    from{
        top:-500px;
        opacity:1;
    }
    to{
        top:10px;
        opacity:1;
    }
}
@keyframes fade{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes slideOutDown {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      transform: translate3d(0, 100%, 0);
    }
  }
  
  .slideOutDown {
    animation-name: slideOutDown;
  }
  
.image-effect .animating{
    position:absolute;
}
.image-effect .bridge1{
    width:40%;
    top:47%;
    animation-name:bridge1 !important;
    animation-duration:0.5s;
    animation-delay:1s;
    opacity:0;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.image-effect .bridge2{
    width:40%;
    top:47%;
    animation-name:bridge2 !important;
    animation-duration:0.5s;
    animation-delay:1s;
    animation-fill-mode: forwards;
    opacity:0;
    animation-timing-function: linear;
}

.image-effect .hand{
    top:10px;
    width:40%;
    left: 50%;
    transform: translate(-50%);
    animation-name:hand !important;
    animation-duration:0.9s;
    animation-delay:1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-timing-function: linear;
}
div[caption]{
    animation-name: fade;
    opacity:0;
    animation-duration:3s;
    animation-fill-mode: forwards;
    animation-delay:1s;
}

/* //list */
div[nxtlife-list] div[li]{
    display:flex;
    margin:30px auto;
}
div[nxtlife-list] div[li] div[bullet]{
    margin-right:10px;
    padding-right:10px; 
}
div[nxtlife-list] div[li] div[bullet] i{
    font-size: 24px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
    border-radius: 100%;
    color: #45aed6;
    box-shadow: inset 0 0 0 1px #d7d7d7;
    -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
    transition: background-color 400ms, background-color 400ms;
    position: relative;order:3px solid white;
    
}

div[nxtlife-list] div[li] div[bullet] i:after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    right: -10px;
    border: 4px solid #fff;
    border-radius: 20px;
    background: #45aed6;
}

div[li]:hover div[bullet] i{
    color: white !important;
    line-height: 57px !important;
    background:#45aed6 !important;
    border:4px solid white;
    box-shadow: inset 0 0 0 5px rgba(77, 77, 77, 0.808);
    -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}
/* // end of list */

/* //block heading */
div[block-heading]{
  text-align:center;
}
div[block-heading] h2{
  position:relative;
  margin:44px;
  color:#676767;
}
div[block-heading] h2:before{
  content: "";
  position: absolute;
  width: 150px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 2px;
  background: #ebebeb;
  bottom: -10px;
}
div[block-heading] h2:after{
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -20px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: var(--main-one);
}
/* end of block heading */