
<div class="container">
  <div heading>

  </div>
  <div class="row">
    <div image class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <img src="https://image.freepik.com/free-vector/university-building_23-2147506659.jpg">
    </div>
    <div text class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div para>
        <h2>Strategic Planning in higher education</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta magna quis augue ornare, ut placerat nisl porta. Vivamus bibendum mollis sapien, vitae iaculis nibh aliquam ut. Proin tincidunt eros eu odio malesuada bibendum. Curabitur eget pharetra eros. Sed rutrum est ex, ut gravida tellus elementum ut. Ut fringilla pellentesque massa vel fringilla. Vivamus molestie malesuada mi, non interdum mi semper luctus. Ut pharetra diam quis consectetur semper.
        </p>
    </div>
  </div>
  </div>

  <div class="row">
      <div text class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div para>
          <h2>Product Description</h2>
          <p>
              Phasellus malesuada sit amet orci sit amet ultricies. Vestibulum elit tellus, rhoncus ac neque at, feugiat porttitor massa. Vivamus gravida eget ligula eu ullamcorper. Sed interdum sollicitudin tortor tincidunt pretium. Cras vel dapibus erat. Pellentesque metus erat, suscipit non felis a, sagittis pretium quam. Proin pretium a arcu ut ultricies. Sed porta mattis felis, ut varius arcu scelerisque eu. Praesent facilisis ornare elit. Sed ut ex a est mattis tincidunt. In tellus justo, aliquam sit amet libero quis, pretium bibendum massa.
          </p>
      </div>
    </div>
    <div image class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <img src="https://image.freepik.com/free-vector/cloud-storage-concept_1325-30.jpg">
      </div>
    </div>

    <div class="row">
        <div image class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <img src="https://image.freepik.com/free-vector/businessman-with-a-big-coin_1133-306.jpg">
          </div>
        <div text class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div para>
            <h2>Benefits</h2>
            <p>
                Phasellus malesuada sit amet orci sit amet ultricies. 
            </p>
            <ul>
              <li>
                  Vestibulum elit tellus, rhoncus ac neque at.
              </li>
              <li>
                  feugiat porttitor massa. Vivamus gravida eget ligula eu ullamcorper.
              </li>
              <li>
                  Sed interdum sollicitudin tortor tincidunt pretium.
              </li>
              <li>
                  Cras vel dapibus erat. Pellentesque metus erat, suscipit non felis.
              </li>
              <li>
                  a, sagittis pretium quam. Proin pretium a arcu ut ultricies. Sed porta mattis felis.
              </li>
              <li>
                  ut varius arcu scelerisque eu. Praesent facilisis ornare elit.
              </li>
            </ul>
        </div>
      </div>

      </div>

      </div>
      
  
      <div records>
            <div parallelx1></div>
        <div content class="row">
          <div block class="col-lg-4 col-mg-6 col-sm-12">
            <img src="http://icons.iconarchive.com/icons/dtafalonso/android-lollipop/512/Downloads-icon.png">
            <h5>3000 Downloads</h5>
          </div>
          <div block class="col-lg-4 col-mg-6 col-sm-12">
              <img src="http://icons.iconarchive.com/icons/dtafalonso/android-lollipop/512/Downloads-icon.png">
              <h5>3000 Downloads</h5>
            </div>
            <div block class="col-lg-4 col-mg-6 col-sm-12">
                <img src="http://icons.iconarchive.com/icons/dtafalonso/android-lollipop/512/Downloads-icon.png">
                <h5>3000 Downloads</h5>
              </div>                      
        </div>
   
</div>  
<div class="container">
      <div screenshots>
        <div block>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="http://jasonalexis.com/wp-content/uploads/2016/10/strategy-760x498.jpg" alt="Card image cap">
              </div>
              <h5>screenshot</h5>
        </div>
        <div block>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.ingredientsnetwork.com/47/pdcnewsitem/04/86/26/strategy_web.jpg" alt="Card image cap">
              </div>
              <h5>screenshot</h5>
        </div>
        <div block>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="http://www.acetz.com/blog/wp-content/uploads/2015/02/digital-marketing-strategy.jpg" alt="Card image cap">
              </div>
              <h5>screenshot</h5>
        </div>     
        <div block>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK3X_W3d0QuTEuYbOx6uLj2PzFBTv45kA_byIvx37VpV0aInnILA" alt="Card image cap">
              </div>
              <h5>screenshot</h5>
        </div>  
        <div block>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://media.istockphoto.com/photos/strategy-concept-hand-drawn-on-blackboard-picture-id477435500?k=6&m=477435500&s=612x612&w=0&h=UHBPQm5Zp_NR7WAR33JfBR5-OnglW80Z87Rj4I-4XhU=" alt="Card image cap">
              </div>
              <h5>screenshot</h5>
        </div>                       
      </div>
    </div>
