
  <app-product-theme [productData]="StrategicPlanning"></app-product-theme>
  <!-- Second block -->
  <!-- <div class="row two-col-block" id="why">
      
      <div class="col-sm-12 col-lg-6 col-md-6 text-block">
        <div class="v-center">
          <div title>
              <h3 class="main">Strategic Plan</h3>
            </div>
        <ul>
          <li>
              Bridge that links an organization’s today with tomorrow
          </li>
          <li>
              Disciplined effort that is monitored regularly to ensure all stakeholders are working towards common goals to achieve intended outcomes
          </li>
          <li>
              Ensures all resources are spent in line with the Goals and Objectives
          </li>
          <li>
              Properly developed, implemented and monitored plan keeps an organization focused on its priorities
          </li>
          <li>
              BluePrint for initiatives that can be realistically supported by the budget
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6 image-block image1"></div>
    </div>
  <div class="row two-col-block" id="solution">
      <div class="col-sm-12 col-lg-6 col-md-6 image-block image2"></div>
    <div class="col-sm-12 col-lg-6 col-md-6 text-block">
      <div class="v-center">
        <div title>
            <h3>Our Solution</h3>
          </div>
      <ul>
        <li>
              There are many solutions available in the market, which can be used for planning,<br> but most of them mostly cater the industry or are too expensive to be affordable for higher education institutions with small budgets.
          </li>
          <li>
            Developed in consultation with senior higher education administrators <br>(15-20 years of experience)
        </li>
        <li>
            Cloud Based Cost effective solution for higher education institutions with budget of any size
        </li>  
        <li>
            Built in forms (MOUs, student exchanges, complaints etc.) to collect key data <br> Such a system not available for Higher Education Institutes
        </li>  
          
      </ul>
    </div>
  </div>
  </div>

  
      <div class="row two-col-block" id="features">
        <div class="col-sm-12 col-lg-6 col-md-6 text-block">
          <div class="v-center">
            <div title>
                <h3>Features</h3>
              </div>
          <ul>
            <div *ngFor="let feature of listData">
              <li *ngIf="feature.type=='feature'">
                  {{ feature.name }}
              </li>
          </div>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 col-md-6 image-block image3"></div>
      </div>
 
      <div class="row two-col-block" id="benefits">
          <div class="col-sm-12 col-lg-6 col-md-6 image-block image4"></div>
          <div class="col-sm-12 col-lg-6 col-md-6 text-block">
            <div class="v-center">
              <div title>
                  <h3>Benefits</h3>
                </div>
            <ul>
              <div *ngFor="let benefit of listData">
                <li *ngIf="benefit.type=='benefit'">
                    {{ benefit.name }}
                </li>
              </div>
            </ul>
          </div>
        </div>
        </div>
   -->
