<div id="nxtlifeCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div cover>
        <div caption>
          <h3>Strategic Planning</h3>
          <span>"Links Today With Tomorrow"</span>
        </div>
        <div overlay class="image-effect">
          <img class="d-block w-100" src="assets/images/carousel/sp/back.png" alt="First slide">
          <img src="assets/images/carousel/sp/bridge1.png" class="animating bridge1" />
          <img src="assets/images/carousel/sp/bridge2.png" class="animating bridge2" />
          <img src="assets/images/carousel/sp/hand.png" class="animating hand" />
        </div>
      </div>
    </div>
  </div>
  <!-- First block -->
  <div class="container bar">
      <app-block-heading [blockData]="heading[0]"></app-block-heading>
      
    <div class="row">
      <div image class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <img class="animation fadeInLeft" src="assets/images/carousel/sp/higher-education.png">
      </div>
      <div text class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div para class="animation fadeInRight">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta magna quis augue ornare, ut placerat nisl porta. Vivamus
            bibendum mollis sapien, vitae iaculis nibh aliquam ut. Proin tincidunt eros eu odio malesuada bibendum. Curabitur
            eget pharetra eros. Sed rutrum est ex, ut gravida tellus elementum ut. Ut fringilla pellentesque massa vel fringilla.
            Vivamus molestie malesuada mi, non interdum mi semper luctus. Ut pharetra diam quis consectetur semper.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end of first block -->

  <!-- fluid section/parallelex -->
  <div class="parallelex-block">
    <div parallelex-background class="parallel-image1">
      <div parallelex-content>
        <div class="quote">
                “Strategy is thinking about a choice and choosing to stick with your thinking”                
          <div writer>
                —Henry Mintzberg
        </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end of fluid section -->

  <!-- Second block -->
  <div class="container bar">
      <app-block-heading [blockData]="heading[1]"></app-block-heading>
    <div class="row level eighty">
      <div text class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div para class="animation fadeInLeft">
        
          <p>
            Phasellus malesuada sit amet orci sit amet ultricies. Vestibulum elit tellus, rhoncus ac neque at, feugiat porttitor massa.
            Vivamus gravida eget ligula eu ullamcorper. Sed interdum sollicitudin tortor tincidunt pretium. Cras vel dapibus
            erat. Pellentesque metus erat, suscipit non felis a, sagittis pretium quam. Proin pretium a arcu ut ultricies.
            Sed porta mattis felis, ut varius arcu scelerisque eu. Praesent facilisis ornare elit. Sed ut ex a est mattis
            tincidunt. In tellus justo, aliquam sit amet libero quis, pretium bibendum massa.
          </p>
        </div>
      </div>
      <div image class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <img class="animation fadeInRight" src="assets/images/product.png">
      </div>
    </div>
  </div>
  <!-- end of second block -->


  <!-- Fluid section -->
  <div class="parallelex-block">
    <div parallelex-background class="parallel-image1">
      <div parallelex-content>
        <div screenshots>
          <div block>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://media.istockphoto.com/photos/strategy-concept-hand-drawn-on-blackboard-picture-id477435500?k=6&m=477435500&s=612x612&w=0&h=UHBPQm5Zp_NR7WAR33JfBR5-OnglW80Z87Rj4I-4XhU="
                alt="Card image cap">
            </div>
            <h5>screenshot</h5>
          </div>
          <div block>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="http://jasonalexis.com/wp-content/uploads/2016/10/strategy-760x498.jpg" alt="Card image cap">
            </div>
            <h5>screenshot</h5>
          </div>
          <div block>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://www.ingredientsnetwork.com/47/pdcnewsitem/04/86/26/strategy_web.jpg" alt="Card image cap">
            </div>
            <h5>screenshot</h5>
          </div>
          <div block>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="http://www.acetz.com/blog/wp-content/uploads/2015/02/digital-marketing-strategy.jpg" alt="Card image cap">
            </div>
            <h5>screenshot</h5>
          </div>
          <div block>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK3X_W3d0QuTEuYbOx6uLj2PzFBTv45kA_byIvx37VpV0aInnILA"
                alt="Card image cap">
            </div>
            <h5>screenshot</h5>
          </div>
          <div block>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://media.istockphoto.com/photos/strategy-concept-hand-drawn-on-blackboard-picture-id477435500?k=6&m=477435500&s=612x612&w=0&h=UHBPQm5Zp_NR7WAR33JfBR5-OnglW80Z87Rj4I-4XhU="
                alt="Card image cap">
            </div>
            <h5>screenshot</h5>
          </div>
          <div block>
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://media.istockphoto.com/photos/strategy-concept-hand-drawn-on-blackboard-picture-id477435500?k=6&m=477435500&s=612x612&w=0&h=UHBPQm5Zp_NR7WAR33JfBR5-OnglW80Z87Rj4I-4XhU="
                    alt="Card image cap">
                </div>
                <h5>screenshot</h5>
              </div>
              <div block>
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="http://jasonalexis.com/wp-content/uploads/2016/10/strategy-760x498.jpg" alt="Card image cap">
                </div>
                <h5>screenshot</h5>
              </div>
              <div block>
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://www.ingredientsnetwork.com/47/pdcnewsitem/04/86/26/strategy_web.jpg" alt="Card image cap">
                </div>
                <h5>screenshot</h5>
              </div>
              <div block>
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="http://www.acetz.com/blog/wp-content/uploads/2015/02/digital-marketing-strategy.jpg" alt="Card image cap">
                </div>
                <h5>screenshot</h5>
              </div>
              <div block>
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK3X_W3d0QuTEuYbOx6uLj2PzFBTv45kA_byIvx37VpV0aInnILA"
                    alt="Card image cap">
                </div>
                <h5>screenshot</h5>
              </div>
              <div block>
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://media.istockphoto.com/photos/strategy-concept-hand-drawn-on-blackboard-picture-id477435500?k=6&m=477435500&s=612x612&w=0&h=UHBPQm5Zp_NR7WAR33JfBR5-OnglW80Z87Rj4I-4XhU="
                    alt="Card image cap">
                </div>
                <h5>screenshot</h5>
              </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of fluid section -->

  <!-- Third block -->
  <div class="container bar">
      <app-block-heading [blockData]="heading[2]"></app-block-heading>
    <div class="row">
      <div image class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <img class="animation fadeInLeft" src="assets/images/benefits.png">
      </div>
      <div text class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div nxtlife-list class="animation fadeInRight">
          <div li>
            <div bullet>
              <i class="fa fa-check-square-o"></i>
            </div>
            <div text>
                Phasellus malesuada sit amet orci sit amet ultricies. Vestibulum elit tellus, rhoncus ac neque at.
            </div>
          </div>
          <div li>
              <div bullet>
                <i class="fa fa-check-square-o"></i>
              </div>
              <div text>
                  Phasellus malesuada sit amet orci sit amet ultricies. Vestibulum elit tellus, rhoncus ac neque at.Phasellus malesuada sit amet orci sit amet ultricies. Vestibulum elit tellus, rhoncus ac neque at.
              </div>
            </div>
            <div li>
                <div bullet>
                  <i class="fa fa-check-square-o"></i>
                </div>
                <div text>
                    Phasellus malesuada sit amet orci sit amet ultricies. Vestibulum elit tellus, rhoncus ac neque at.Phasellus malesuada sit amet orci sit amet ultricies. Vestibulum elit tellus, rhoncus ac neque at.
                </div>
              </div>
              <div li>
                  <div bullet>
                    <i class="fa fa-check-square-o"></i>
                  </div>
                  <div text>
                      Phasellus malesuada sit amet orci sit amet ultricies. Vestibulum elit tellus, rhoncus ac neque at.
                  </div>
                </div>
        </div>
      </div>

    </div>
  </div>
