::-webkit-scrollbar { 
    display: none; 
}

div[image] img{
    width:100%;
}

div[text]{
    display:grid;
}

div[text] div[para]{
    align-self: center;
    justify-self: center;
}

div[screenshots]{
    /* padding:0px 0; */
    text-align:center;
    display:flex;
    overflow-x: scroll;
    margin-top:20px;
}

div[screenshots] div[block]{
    margin:0 5px;
}

div[screenshots] div[block] img{
    height:200px;
}


div[records] div[block]{
    text-align: center;
    color:white;
}
div[records] div[block] img{
    width: 150px;
    display: block;
    margin:auto;
}

.container{
    margin-top:20px;
}

/* //carousel */
div[overlay]{
    background:white;
}
div[overlay] img{
    /* opacity:0.6; */
}

div[cover]{
    position:relative;
}
.carousel-item div[caption]{
    color:white;
    text-align:center;
    position:absolute;
    bottom:3.5vh;
    z-index:1;
    width:100%;
    text-shadow: 0 2px 8px black;
}

.carousel-item div[caption] h2{
    font-size:3vw;
}
.carousel-item div[caption] span{
    font-size:2.5vw;
}

.quote{
    text-align:center;
    font-size:30px;
}
.quote div[writer]{
    font-weight: bold;
    font-size:25px;
    text-align: right;
}



